@using Microsoft.AspNetCore.Mvc.Localization
@using InternalRequestsManagement.Localization
@inject IHtmlLocalizer<InternalRequestsManagementResource> L
<a class="nav-link" role="button" href="~/Account/Login">Login</a>
